
  <%= simple_form_for(@ujumbe) do |f| %>
  <%= f.error_notification %>


  <div class="form-group">
      <%= f.label :title, "Votre proposition" %>
      <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :what, "Descrivez votre proposition" %>
      <%= f.text_area :what, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :action_areas, "Indiquez le/les domaines impactés par votre proposition" %>
    <ul class="list-group">
      <li class="list-group-item"><%= f.check_box :theme_education %> éducation, jeunesse</li>
      <li class="list-group-item"><%= f.check_box :theme_economy %> économie, emploi</li>
      <li class="list-group-item"><%= f.check_box :theme_housing %> logement</li>
      <li class="list-group-item"><%= f.check_box :theme_social %> sécurité sociale, fiscalité</li>
      <li class="list-group-item"><%= f.check_box :theme_culture %> culture, sport</li>
      <li class="list-group-item"><%= f.check_box :theme_environnement %> environnement, aménagement du territoire</li>
      <li class="list-group-item"><%= f.check_box :theme_ressources %> eau, énergie, agriculture</li>
      <li class="list-group-item"><%= f.check_box :theme_security %> police, armée, justice</li>
      <li class="list-group-item"><%= f.check_box :theme_scientific %> recherche scientifique</li>
      <li class="list-group-item"><%= f.check_box :theme_foreign %> affaires étrangères</li>
    </ul>

  <div class="form-group">
      <%= f.label :why, "A quel problème souhaitez-vous ainsi remédier ?" %>
      <%= f.text_area :why, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :how, "Comment allez-vous la mettre en oeuvre ?" %>
      <%= f.text_area :how, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :budget, "Quel est le budget nécessaire pour la mettre en oeuvre ?" %>
      <%= f.text_area :budget, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :funding, "D'où proviendront les fonds pour la mettre en oeuvre ?" %>
      <%= f.text_area :funding, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit "Publiez votre proposition", :class => "btn btn-primary" %>
  </div>
<% end %>

