<h1 class="page-header">Propositions des candidats et mandataires <%= link_to 'Devenir utilisateur politique', "mailto:contact@ujumbox.com", :class => "btn btn-success pull-right" %></h1>

<!-- pour plus tard 
<h3 class="text-center">Propositions dans vos thèmes | Propositions de vos candidats</h3>
-->
<% if current_user.is_politic %>
<%= render 'shortform' %>
<% end %>

<% @ujumbes.each do |ujumbe| %>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption card">
        <div class="title"><%= link_to truncate(ujumbe.title, :length => 48), ujumbe_path(ujumbe) %></div>
        
<!-- theme ! -->
      <p><% if ujumbe.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
      <% if ujumbe.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
      <% if ujumbe.theme_housing %><span class="label label-success">logement</span><% end %>
      <% if ujumbe.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
      <% if ujumbe.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
      <% if ujumbe.theme_environnement %><span class="label label-success"> environnement</span><% end %>
      <% if ujumbe.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
      <% if ujumbe.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
      <% if ujumbe.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
      <% if ujumbe.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %></p>
  
      <div class="row card-cta">
        <div class="col-sm-6 col-md-9">
        <%= link_to "Voir", ujumbe_path(ujumbe), :class => "btn btn-primary" %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag(ujumbe.user.image.url(:mini), :class => "img-circle"), user_path(ujumbe.user) %>
      </div>
    </div>
        

      </div>
    </div>
  </div>

<% end %>


