<h1 class="page-header">Propositions politiques & suggestions citoyennes  <%= link_to 'Devenir utilisateur politique', "mailto:contact@ujumbox.com", :class => "btn btn-primary pull-right" unless current_user.is_politic %></h1>

<!-- pour plus tard 
<h3 class="text-center">Propositions dans vos thèmes | Propositions de vos candidats</h3>
-->

<% unless @ujumbes.any? %>
  <p class"text-center lead">Aucun candidat ou mandataire n'a encore pulbié de proposition</p>
<% end %>

<div class="col-sm-6 col-md-4">
<%= render 'shortform' %>
</div>




<% @ujumbes.each do |ujumbe| %>
  
  <div class="col-sm-6 col-md-4">
    <div class="panel">
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="panel-body card">
        
        
<!-- theme ! -->
      <p class="text-right"><% if ujumbe.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
      <% if ujumbe.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
      <% if ujumbe.theme_housing %><span class="label label-success">logement</span><% end %>
      <% if ujumbe.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
      <% if ujumbe.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
      <% if ujumbe.theme_environnement %><span class="label label-success"> environnement</span><% end %>
      <% if ujumbe.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
      <% if ujumbe.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
      <% if ujumbe.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
      <% if ujumbe.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %>

      <% if ujumbe.politic %>
      <i class="fa fa-microphone blujumbox fa-lg"></i>
      <% else %>
      <i class="fa fa-bullhorn blujumbox fa-lg"></i>
      <% end %>
    </p>
    <br>

<!-- title ! -->
      <div class="title">
          <%= link_to truncate(ujumbe.title, :length => 48), ujumbe_path(ujumbe) %>
      </div>
  </div>


  <div class="panel-footer">
    <div class="row">
      <div class="col-md-2">
     <%= link_to image_tag(ujumbe.user.image.url(:mini), :class => "img-circle"), user_path(ujumbe.user) %>
   </div>
   <div class="col-md-5 col-md-offset-5"> 
      
    <% if current_user.following?(ujumbe) %>
          <%= link_to unfollow_ujumbe_path(ujumbe) do %>
            <%= content_tag(:i, " " ,:class=> 'fa fa-thumbs-down btn btn-default pull-right') -%>
          <% end %>
    <% else %>
      <%= link_to follow_ujumbe_path(ujumbe) do %>
            <%= content_tag(:i, " " ,:class=> 'fa fa-thumbs-up btn btn-success pull-right') -%>
          <% end %>
          
    <% end %>
    <%= link_to ujumbe_path(ujumbe) do %>
            <%= content_tag(:i, " " ,:class=> 'fa fa-eye btn btn-default pull-right') -%>
          <% end %>

  </div>

</div>
         
    </div>
        

  </div>





  </div>

<% end %>


