<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1>
        <% if @ujumbe.politic %>
      <i class="fa fa-microphone blujumbox fa-lg fa-border"></i>
      <% else %>
      <i class="fa fa-bullhorn blujumbox fa-lg fa-border"></i>
      <% end %>
        <%= @ujumbe.title %>
      <span class="center-text">
        <% if current_user == @ujumbe.user %>
          <% if @ujumbe.politic %>
            <%= link_to 'Editez votre proposition', edit_ujumbe_path(@ujumbe), :class => 'btn btn-default' %>
          <% else %>
            <%= link_to 'Editez votre suggestion', edit_ujumbe_path(@ujumbe), :class => 'btn btn-default' %>
          <% end %>

        <% else %>

          <% if current_user.following?(@ujumbe) %>
            <%= link_to unfollow_ujumbe_path(@ujumbe) do %>
              <%= content_tag(:i, " Ne plus suivre" ,:class=> 'fa fa-thumbs-down btn btn-default btn-lg') -%>
            <% end %>
          <% else %>
            <%= link_to follow_ujumbe_path(@ujumbe) do %>
              <%= content_tag(:i, " Suivre" ,:class=> 'fa fa-thumbs-up btn btn-success btn-lg') -%>
            <% end %>
          <% end %>

        <% end %>
      </span></h1>
    </div>
    <div class="col-md-2">
      <%= link_to image_tag(@ujumbe.user.image.url(:thumb), :class => "img-circle profilepic"), user_path(@ujumbe.user) %>
    </div>
  </div>
</div>
<div class="text-right lead">
      <% if @ujumbe.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
      <% if @ujumbe.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
      <% if @ujumbe.theme_housing %><span class="label label-success">logement</span><% end %>
      <% if @ujumbe.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
      <% if @ujumbe.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
      <% if @ujumbe.theme_environnement %><span class="label label-success"> environnement</span><% end %>
      <% if @ujumbe.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
      <% if @ujumbe.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
      <% if @ujumbe.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
      <% if @ujumbe.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %>
    </div>

<div class="col-md-10 col-md-offset-1">

<% if @ujumbe.what.present? %>
  <p class="lead">
    <% if @ujumbe.politic %>
    Ma proposition dans le détail :
    <% else %>
    Ma suggestion dans le détail :
    <% end %>
  </p>
<div class="thumbnail">
    <div class="caption">
<%= simple_format(@ujumbe.what) %>
</div>
</div>
<% end %>

<% if @ujumbe.why.present? %>
<p class="lead">
  <% if @ujumbe.politic %>
  Pourquoi cette proposition :
  <% else %>
  Pourquoi cette suggestion :
  <% end %>
</p>
<div class="thumbnail">
    <div class="caption">
<%= simple_format(@ujumbe.why) %>
</div>
</div>
<% end %>

<% if @ujumbe.how.present? %>
<p class="lead">
  <% if @ujumbe.politic %>
  La manière dont je compte mettre en oeuvre cette proposition :
  <% else %>
  La manière dont cette suggestion pourrait être mise en oeuvre :
  <% end %>
</p>
<div class="thumbnail">
    <div class="caption">
<%= simple_format(@ujumbe.how) %>
</div>
</div>
<% end %>


<% if @ujumbe.budget.present? %>
<p class="lead">
  <% if @ujumbe.politic %>
  Le budget nécessaire à la réalisation de cette proposition :
  <% else %>
  Le budget qui me paraît nécessaire à la réalisation de cette proposition :
  <% end %>
</p>

<div class="thumbnail">
    <div class="caption">
      <p><b>Budget</b></p>
<p><%= @ujumbe.budget %></p>
<p><b>Source de financement</b></p>
<%= simple_format(@ujumbe.funding) %>
</div>
</div>
<% end %>
</div>
