<p class="lead text-center">
	<i class="fa fa-suitcase fa-lg blujumbox fa-border"></i>
	<%= render 'themesusers' %>
		</p>

<div class="row">
		
<!-- LEFT -->
		<div class="col-md-4">
			<p class=" lead text-center"><b>Mon engagement</b></p>

			<div class="thumbnail">
				<div class="caption">
					
					<br>
					<br>
		
					<p class="lead">Mon activité professionnelle</p>
					<p><%= @user.profession %></p>
					<br>
		
					<p class="lead">Mon parcours politique</p>
					<p><%= simple_format(@user.career) %></p>
					<br>

					<p class="lead">Mes réalisations passées</p>
					<p><%= simple_format(@user.achievements) %></p>
					<br>
		
				</div>
			</div>

			<!-- FOLLOWED USERS -->
<div class="row">
				<p class="lead text-center"><b>Candidats et mandataires suivis</b></p>
				
				<%= render 'followedusers' %>
			</div>
		</div>


<!-- RIGHT -->
		<div class="col-md-8">
			<div class="row">
			<p class="lead text-center"><b>Mes propositions</b></p>
			
			<% if @user == current_user %>
			<div class="col-sm-6 col-md-6">
				<%= render 'ujumbes/shortform' %>
			</div>
			<% end %>

			<% if @ujumbes.any? %>
				<%= render 'ujumbe' %>
				<% else %>
					<% unless @user == current_user %>
						<p class="lead text-center"><%= @user.name %> n'a pas encore publié de proposition</p>
					<% end %>
				<% end %>

		</div>
	


	<!-- FOLLOWED UJUMBES -->
	<div class="row">
	
				<p class="lead text-center"><b>Propositions et suggestions suivies</b></p>
		
				<%= render 'followedujumbe' %>
			</div>

		</div>

</div>

