
			<% @ujumbes.each do |ujumbe| %>
				<div class="col-sm-6 col-md-6">
			    <div class="panel">
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="panel-body card">
			        
			        
			<p class="text-right">
				<% if ujumbe.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
      <% if ujumbe.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
      <% if ujumbe.theme_housing %><span class="label label-success">logement</span><% end %>
      <% if ujumbe.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
      <% if ujumbe.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
      <% if ujumbe.theme_environnement %><span class="label label-success"> environnement</span><% end %>
      <% if ujumbe.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
      <% if ujumbe.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
      <% if ujumbe.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
      <% if ujumbe.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %>
    	</p>

    	<div class="title"><%= link_to truncate(ujumbe.title, :length => 100), ujumbe_path(ujumbe) %></div>
    </div>

<div class="panel-footer">
	<div class="row">
		<div class="col-md-5 col-md-offset-7">
			<% if current_user.following?(ujumbe) %>
        <%= link_to unfollow_ujumbe_path(ujumbe) do %>
            <%= content_tag(:i, " " ,:class=> 'fa fa-thumbs-down btn btn-default pull-right') -%>
        <% end %>
    	<% else %>
      	<%= link_to follow_ujumbe_path(ujumbe) do %>
            <%= content_tag(:i, " " ,:class=> 'fa fa-thumbs-up btn btn-success pull-right') -%>
        <% end %>   
    	<% end %>
    	
    	<%= link_to ujumbe_path(ujumbe) do %>
        <%= content_tag(:i, " " ,:class=> 'fa fa-eye btn btn-default pull-right') -%>
      <% end %>
    </div>
  </div>
</div>

</div> <!-- end panel -->

</div> <!-- end col-md-6 -->
			 
<% end %>

			