<div class="col-md-6 col-md-offset-3">
<div class="page-header">
	<h1>Editez votre profil</h1>
	<p><%= link_to 'Cliquez ici pour modifier votre nom ou mot de passe', edit_user_registration_path %></p>
  <% unless current_user.is_politic %>
    <%= link_to 'Je suis candidat/mandataire politique', "mailto:contact@ujumbox.com", :class => "btn btn-success btn-block btn-lg" %>
    <small><b>Pour publier vos propositions, vous devez convertir votre profil en profil politique</b></small>
  <% end %>
</div>
  
    
    	<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

    <!-- FOR DEV PURPOSE <%= f.check_box :is_politic %> politicien </li> -->

    <div class="form-group">
      <%= f.label :name, "Votre nom" %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>

  	<div class="form-group">
	    <%= f.label :image, "Votre photo de profil" %>
	    <%= f.file_field :image, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :cover, "Votre photo de couverture" %>
	    <%= f.file_field :cover, class: "form-control" %>
	  </div>

	  <div class="form-group">
      <%= f.label :residency, "Votre commune/région de résidence" %>
      <%= f.text_field :residency, class: 'form-control' %>
    </div>

    <% if current_user.is_politic %>
    	<div class="form-group">
        <%= f.label :party, "Votre parti" %>
        <%= f.text_field :party, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :party_short, "Votre parti, en abrégé" %>
        <%= f.text_field :party_short, class: 'form-control' %>
      </div>
    <% end %>

    <% if current_user.is_politic %>
      <div class="form-group">
        <%= f.label :title, "Votre titre ou votre candidature" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :profession, "Votre activité professionnelle principale" %>
      <%= f.text_field :profession, class: 'form-control' %>
    </div>

    <% if current_user.is_politic %>
      <div class="form-group">
        <%= f.label :career, "Votre parcours politique et/ou associatif" %>
        <%= f.text_area :career, rows: "7", class: 'form-control' %>
      </div>

      	<div class="form-group">
        <%= f.label :achievements, "Vos principales réalisations" %>
        <%= f.text_area :achievements, rows: "7", class: 'form-control' %>
      </div>
    <% end %>

<div class="form-group">
  <% if current_user.is_politic %>
    <%= f.label :action_areas, "Vos principaux domaines d'action" %>
  <% else %>
    <%= f.label :action_areas, "Vos principaux centres d'intérêt politiques" %>
  <% end %>
    <ul class="list-group">
		  <li class="list-group-item"><%= f.check_box :theme_education %> éducation, jeunesse</li>
		  <li class="list-group-item"><%= f.check_box :theme_economy %> économie, emploi</li>
		  <li class="list-group-item"><%= f.check_box :theme_housing %> logement</li>
		  <li class="list-group-item"><%= f.check_box :theme_social %> sécurité sociale, fiscalité</li>
		  <li class="list-group-item"><%= f.check_box :theme_culture %> culture, sport</li>
		  <li class="list-group-item"><%= f.check_box :theme_environnement %> environnement, aménagement du territoire</li>
		  <li class="list-group-item"><%= f.check_box :theme_ressources %> eau, énergie, agriculture</li>
		  <li class="list-group-item"><%= f.check_box :theme_security %> police, armée, justice</li>
		  <li class="list-group-item"><%= f.check_box :theme_scientific %> recherche scientifique</li>
		  <li class="list-group-item"><%= f.check_box :theme_foreign %> affaires étrangères</li>
		</ul>
</div>

Vos présences web :
    <div class="form-group">
      <%= f.text_field :facebook_url, :placeholder => "http://facebook.com/...", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_field :linkedin_url, :placeholder => "http://linkedin.com/in/...", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_field :twitter_url, :placeholder => "http://twitter.com/...", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_field :website_url, :placeholder => "http://...", class: "form-control" %>
    </div>

  <div class="form-actions">
    <%= f.submit "Modifiez votre profil", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>


<!-- Include Twitter Bootstrap and jQuery: -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
 
<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
 
<!-- Initialize the plugin: -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect();
  });

</script>
