
<div class="cover">
	<%= image_tag @user.cover.url(:cover) %>
</div>

<div class="page-header">
	<div class="row">
	
	<div class="col-md-10 profilename">
		<h2><%= @user.name %>
			<span class="center-text">
				<!-- social network presence -->
				<%= link_to 'Facebook', @user.facebook_url, :target => "_blank", :class => 'btn btn-default' if @user.facebook_url.present? %>
				<%= link_to 'Linkedin', @user.linkedin_url, :target => "_blank", :class => 'btn btn-default' if @user.linkedin_url.present? %>
				<%= link_to 'Twitter', @user.twitter_url, :target => "_blank", :class => 'btn btn-default' if @user.twitter_url.present? %>
				<%= link_to 'Website', @user.website_url, :target => "_blank", :class => 'btn btn-default' if @user.website_url.present? %>

				<% if current_user == @user %>
					<%= link_to 'Editez votre profil', edit_user_path(current_user), :class => 'btn btn-primary' %>
				<% else %>
					<%= link_to 'Suivre ce mandataire', follow_user_path(@user), :class => 'btn btn-success' if @user.is_politic %>
				<% end %>
			</span>
			<% if @user.is_politic %>
				<br><small><b><%= @user.title %></b> <% if @user.party_short.present? %>(<%= @user.party_short %>)<% end %></small>
			<% else %>
				<br><small><b><%= @user.profession %></b></small>
			<% end %>
		</h2>
	</div>

	<div class="col-md-2 text-right">
		<%= image_tag @user.image.url(:thumb), :class => "img-thumbnail profilepic" %>
	</div>
	

</div>
</div>

<!-- View if the profile is politician -->
<% if @user.is_politic %>
<div class="row">
	<div class="col-md-4">
		<p class=" lead text-center"><b>Mon engagement</b></p>

		<div class="thumbnail">
		<div class="caption">
<div class="glyphicon glyphicon-map-marker pull-right"><%= @user.residency %></div>
<br>
<br>
		<p class="lead">Mon activité professionnelle</p>
		<p><%= @user.profession %></p>
		<br>
		<p class="lead">Mon parcours politique</p>
		<p><%= simple_format(@user.career) %></p>
		<br>
		<p class="lead">Mes réalisations passées</p>
		<p><%= simple_format(@user.achievements) %></p>
		<br>
		
		<p class="lead">Mes domaines d'action</p>
			<p class="lead"><% if @user.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
		  <% if @user.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
		  <% if @user.theme_housing %><span class="label label-success">logement</span><% end %>
		  <% if @user.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
		  <% if @user.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
		  <% if @user.theme_environnement %><span class="label label-success"> environnement</span><% end %>
		  <% if @user.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
		  <% if @user.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
		  <% if @user.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
		  <% if @user.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %></p>

	</div>
</div>

	
</div>



	<div class="col-md-8">
		<p class="lead text-center"><b>Mes propositions</b></p>
			<% if @user == current_user %>
				<%= render 'shortform' %>
			<% end %>


			<% if @ujumbes.any? %>
			<% @ujumbes.each do |ujumbe| %>
				<div class="col-sm-6 col-md-6">
			    <div class="thumbnail">
			      <!-- <img data-src="holder.js/300x200" alt="..."> -->
			      <div class="caption card">
			        <div class="title"><%= link_to truncate(ujumbe.title, :length => 20), ujumbe_path(ujumbe) %></div>
			        
			<p><% if ujumbe.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
      <% if ujumbe.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
      <% if ujumbe.theme_housing %><span class="label label-success">logement</span><% end %>
      <% if ujumbe.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
      <% if ujumbe.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
      <% if ujumbe.theme_environnement %><span class="label label-success"> environnement</span><% end %>
      <% if ujumbe.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
      <% if ujumbe.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
      <% if ujumbe.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
      <% if ujumbe.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %></p>
			        <p><%= link_to 'Voir', ujumbe_path(ujumbe), :class => 'btn btn-primary' %></p>
			      </div>
			    </div>
			  </div>
			<% end %>

			<% else %>
				<% unless @user == current_user %>
				<p class="lead text-center"><%= @user.name %> n'a pas encore publié de proposition</p>
				<% end %>
				<% end %>
			</div>

		<div class="col-md-8">
			<p class="lead text-center"><b>Candidats et mandataires suivis</b></p>
				<% if @user.all_following.any? %>
					<% @user.all_following.each do |followed| %>
					<div class="col-sm-3 col-md-3">
						<div class="thumbnail">
							<%= link_to image_tag(followed.image.url(:medium), :class => "img-thumbnail profilepic"), user_path(followed) %>
							<div class="text-center"><%= followed.name %></div>
						</div>
					</div>

						
					<% end %>
				<% else %>
					<p class="lead text-center"><%= @user.name %> ne suit pas encore de candidat ou mandataire</p>
				<% end %>
			</div>

	</div>
</div>

<% else %>
<!-- View if the profile is civil -->

<div class="row">
	<div class="col-md-4">
		<p class=" lead text-center"><b>Centres d'intérêt</b></p>

		<div class="thumbnail">
			<div class="caption">
				<% if @user.residency.present? %>
					<div class="glyphicon glyphicon-map-marker pull-right"><%= @user.residency %></div>
				<% end %>
					<br>
					<br>
						
				<p class="lead"><% if @user.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
			  <% if @user.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
			  <% if @user.theme_housing %><span class="label label-success">logement</span><% end %>
			  <% if @user.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
			  <% if @user.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
			  <% if @user.theme_environnement %><span class="label label-success"> environnement</span><% end %>
			  <% if @user.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
			  <% if @user.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
			  <% if @user.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
			  <% if @user.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %></p>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<p class=" lead text-center"><b>Candidats et mandataires suivis</b></p>
				<% if @user.all_following.any? %>
					<% @user.following_by_type('User').each do |followed| %>
					<div class="col-sm-3 col-md-3">
						<div class="thumbnail">
							<%= link_to image_tag(followed.image.url(:medium), :class => "img-thumbnail profilepic"), user_path(followed) %>
							<div class="text-center"><%= followed.name %></div>
						</div>
					</div>

						
					<% end %>
				
				<% else %>
				<p class="lead text-center"><%= @user.name %> ne suit pas encore de candidat ou mandataire</p>
				<% end %>
		
	</div>





<% end %>



