<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ujumbox - boîte à messages politique" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Parce que la démocratie ne se limite pas aux périodes électorales, ujumbox permet aux citoyens et aux politiques d'ouvrir un dialogue permanent via des suggestions et des propositions concrètes, sur base de leurs centres d'intérêts" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- for Google -->
<meta name="description" content="Parce que la démocratie ne se limite pas aux périodes électorales, ujumbox permet aux citoyens et aux politiques d'ouvrir un dialogue permanent via des suggestions et des propositions concrètes, sur base de leurs centres d'intérêts" />
<meta name="keywords" content="digital democracy, démocracie participative, politics, content marketing, elections" />

<meta name="author" content="UPcetera" />
<meta name="copyright" content="" />
<meta name="application-name" content="ujumbox - boîte à messages politique" />

<!-- for Facebook -->          
<meta property="og:title" content="ujumbox - boîte à messages politique" />
<meta property="og:type" content="web application" />
<meta property="og:image" content="logo_ujumbox.png" />
<meta property="og:url" content="http://ujumbox.com" />
<meta property="og:description" content="Parce que la démocratie ne se limite pas aux périodes électorales, ujumbox permet aux citoyens et aux politiques d'ouvrir un dialogue permanent via des suggestions et des propositions concrètes, sur base de leurs centres d'intérêts" />

<!-- for Twitter -->          
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" />



  </head>
  <body>
    <header>

      <%= render 'layouts/navigation' %>
    </header>
 
        <% if user_signed_in? %>
       <div class="container">
         <%= render 'layouts/messages' %>
       </div>
          <div class="container">
            <%= render_shareable :static_link => true %>
            <%= yield %>
          </div>
        
        <% else %>
           <div class="container">
          <%= render 'layouts/messages' %>
        </div>
          <%= yield %>

          <!-- <footer>
            <%= render 'layouts/footer' %>
          </footer> -->
            
        <% end %>
 
    

<!-- facebook like -->
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=352345548176853&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
